.act-container {
    height: 400px;
}

@media screen and (max-width: 768px) {
    .act-container {
        margin: auto;
        width: 250px;
        margin-bottom: -100px;
    }
}

.about-container {
    max-width: 500px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .about-container {
        padding: 50px;
    }
}

.bio-secondary {
    font-family: 'Times New Roman'; font-size: medium; color: #444444
}

.bg-light-blue {
    background-color:#e8effc;
}

.class-bg {
    /* The image used */
    background-image: url("../images/class.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cloud-bg {
    /* The image used */
    background-image: url("../images/table_top.jpg");

    /* Full height */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -99;
}

.cloud-container {
    max-width: 300px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .cloud-container {
        width: 150px;
    }
}

.cloud-font {
    font-size: 76px;
}

@media screen and (max-width: 768px) {
    .cloud-font {
        font-size: 36px;
    }
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.75s linear;
       -moz-transition: opacity 0.75s linear;
        -ms-transition: opacity 0.75s linear;
         -o-transition: opacity 0.75s linear;
            transition: opacity 0.75s linear;
}

.font-size-16 {
    font-size: 16px;
}

.jumbotron {
    margin: 0px;
}

.indent {
    text-indent: 30px;
}

.intro-bg {
    /* The image used */
    background-image: url("../images/stem.jpg");

    /* Full height */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    z-index: -99;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.modal-backdrop
{   
    background-color: white;
    opacity:0.6 !important;
}

.modal.fade .modal-dialog {
    transform: translate3d(0, 0, 0);
}

.one-container {
    position: relative;
    min-height: 300px;
}

.profile-img {
    height: 200px;
}

.sat-container {
    max-width: 400px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .sat-container {
        width: 250px;
    }
}

.text-custom-gray {
    color:#494c51;
}

.top {
    margin-top: 50px;
    position: relative;
    height: 650px;
}